/* 通用設定 */
*{box-sizing: border-box;}
body,h1,h2,h3,h4,p{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
body{
    font-family: sans-serif;
    background-image: url(image/bg-1.jpg);
    background-color: rgb(249, 249, 249);
    color: #000;
}
.warp-header{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    box-shadow:0 0 5px 0#b7b7b7d1(85,107,47,0.3)
    position:sticky;
    top:0px
}
.wrap-content{
    width: 1024px;
    margin: 0 auto;
}
/* header頁首設定 */
header{
    width: 1024px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    background-color: #ffffff;
   

}
header .logo{
    background-image: url(image/logo.svg);
    background-repeat: no-repeat;
    margin-right: auto;
    margin-top: 6px;
}
header .logo a{
    display: block;
    width: 106px;height: 24px;
    text-indent: -999px;
    overflow: hidden;
}
header ul{
    margin: 0;padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}
header ul a{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block;
    border-radius: 40px;
    padding: 8px 22px;
    background-color: rgb(243, 243, 243);
}
header ul a :hover{
    color: #ffffff;
    background-color: #000;
}
header .cat-button{
    color: #ffffff;
    border: 0;
    font-weight: bold;
    margin-left: auto;
    border-radius: 40px;
    padding: 10px 22px;
    background-color: #000;
    cursor: pointer;
}
/* main主視覺設定 */
main{
    text-align: center;
    color: #ffffff;
    width: 100%; height: 480px;
    padding-top: 100px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    box-sizing: border-box;
    background-image: url(image/main-image.jpg);
}
main h1 {
    font-size: 50px;
    font-family: serif;
    font-weight: bold;
    text-shadow: #7b777796;
}
main h3 {
    font-size: 24px;
}
/* Card小卡設定 */
section{
    width: 100%;
    display: flex;
    gap: 16px;
}
.card{
    width: 244px;
    background-color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow:0 0 5px 0#b7b7b7
}
.card-content {
    padding: 0px 0px;
}
.card-title {
    margin-bottom: -15px;
    padding: 10px 20px;
}
.card-intro {
    padding: 10px 20px;
    line-height: 150%;
}
/* 頁尾設定 */
footer{
    color: #616161;
    width: 100%;
    text-align: center;
    padding: 20px;
}
footer a{
    color: #616161;
}
footer a :hover{
    color: #fb9b00;
}